@import '../../styles/variables.scss';

:host {
  display: grid;
  grid-row: 1;
  grid-template-columns: 300px 1fr 300px;
  gap: 50px;
}

.text-bold {
  font-weight: bold;
}

.user-profile {
  &__info {
    padding: 0;
  }

  &__item {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1;
  }

  &__input {
    max-width: 200px;
  }

  &__label {
    font-weight: bold;
    font-style: italic;
    margin-right: 5px;
  }

  &__info {
    list-style: none;
  }

  &__footer {
    border-top: 1px solid $gray;
  }
}

.section-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: $light-gray;
}

.user-settings {
  height: 100vh;
  background: #fff;
  box-shadow: -1px 0px 6px -1px rgba(0,0,0,0.2);

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $gray;
    padding: 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid $gray;
  }

  &__body {
    padding: 5px 15px;
  }
}
