<ul class="list">
  <li class="list__item">
    <span class="list__label">Dashboard</span>
    <i class="bi bi-chevron-down"></i>
  </li>
  <li class="list__item">
    <span class="list__label">Support</span>
    <i class="bi bi-chevron-down"></i>
  </li>
  <li class="list__item">
    <span class="list__label">Module</span>
    <i class="bi bi-chevron-down"></i>
  </li>
  <li class="list__item">
    <span class="list__label">Master</span>
    <i class="bi bi-chevron-down"></i>
  </li>
  <li class="list__item">
    <span class="list__label">Profile</span>
    <i class="bi bi-chevron-right"></i>
  </li>
</ul>
