@import '../../styles/variables.styles.scss';

.header {
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;

  &__logo {
    color: $pink;
    margin-right: 40px;
    font-weight: bold;
  }

  &__rigth {
    display: flex;
    margin-left: auto;
  }
}
